body {
	font-family: 'Montserrat', sans-serif;
	background-color: #b5c0ff;
	color: black;
}

.section1 {
	text-align: center;
	margin-top: 4em;
}

.section1 a {
	text-decoration: none;
	color: steelblue;
	font-size: 1.5rem;
	padding: 10px;
}

.section1 h1 {
	font-size: 2.5em;
}

.linkscontainer {
	display: block;
	padding-top: 10px;
}

#profilepic {
	border-radius: 50%;
	margin: auto;
	max-width: 40%;
}

.show {display:block;}